
.video-section{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap:30px;
}

@media (max-width:1000px){
    .video-section{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width:760px){
    .video-section{
        grid-template-columns: 1fr 1fr;
    }
    .middle-section{
        display:none; 
    }
    .search-icon-sm{
        visibility:visible;
    }
    .tooltip-container{
        margin-right: 12px;
    }
    .sidebar{
        display:none;
    }
    body{
        padding-left:12px;
    }
}

@media (max-width:600px){
    .upload-icon,.youtube-apps-icon,.notifications-icon,.search-icon-sm{
        width:18px;
    }
    .search-link-sm{
        margin-left:25px;
        margin-right:25px;
        
    }
    .tooltip-container{
        margin-right: 5px;
    }

    .video-section{
        grid-template-columns: 1fr;
    }
    .hamburger-icon{
        display:none;
    }
    .left-section{
        justify-content:start;
    }
    .youtube-logo{
        width:84px;
    }
    .my-channel-link{
        margin-right: 12px;
    }

}
.video-preview{
    font-family:"Roboto",Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-right:12px
}
.thumbnail-row{
    position:relative;
    margin-bottom:12px;
}
.thumbnail{
    width:100%;
}

.time{
    position: absolute;
    bottom: 11px;
    right: 7px;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 2px;
    font-weight: 500;
}
.video-info-grid{
    display:grid;
    grid-template-columns: 50px 1fr;

}
.profile-picture{
    width:40px;  
    border-radius:50px;
    object-fit: cover; 
}
.video-link{
    line-height:20px;
    margin-bottom:6px
}
.channel-name>a,.video-stats{
    color:gray ;
    font-weight: 500;
}


